#setting_btn{
  /* width: 2%;
  /* height: 10%; * */
  border:1px solid white;
  font-size: medium;
  box-shadow:0 .1rem 1rem rgba(0,0,0.1);
  color:grey;
  background-color: white;
  border-radius: 50%;
}

#setting_btn:hover{
  background-color:#0dcaf0;
  color: white;
  border: 1px solid #0dcaf0;
  border-radius: 50%;
}

#bell_btn{
 
  border:1px solid white;
  font-size: medium;
  box-shadow:0 .1rem 1rem rgba(0,0,0.1);
  color:grey;
  background-color: white;
  border-radius: 50%;
}

#bell_btn:hover {
  background-color: #0dcaf0;
  color:  white;
  border: 1px solid #0dcaf0;
  border-radius: 50%;
}


.table-image {
  td, th {
    vertical-align: middle;
  }
}

.th-head{
  border:1px solid gainsboro;
  background-color:gainsboro;
  color: grey;
  font-size:large;
  font-family:serif;
}


td,th{
  border-bottom: 1px solid gainsboro;
  font-size:medium;
}

td button{
margin-left: 1%;
background-color: #0dcaf0;
border-color:white;
}

td button:hover{
  background-color: white;
  border-color:  #0dcaf0;
  color:  #0dcaf0;
}
