<nav
  class="navbar navbar-expand-lg navbar-dark"
  style="background-color:#0dcaf0;"
>
  <div class="container-fluid">
    <a class="navbar-brand fw-bold" href="#">Ratnamohan Hospital</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="appointments()">Appointments</a>
        </li>

        <li class="nav-item">
          <a href="https://www.ratnamohanhospital.in/" class="nav-link"
            >Official Site</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet />
