<main>
  <div
    class="container-fluid bg-trasparent my-4 p-3"
    style="position: relative"
  >
    <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3">
      <div class="col">
        <div class="card h-100 shadow-sm">
          <div class="card-body">
            <div class="text-center my-4">
              <a (click)="addPatient()" class="btn btn-warning"
                >Add &nbsp; <br />New Patient</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100 shadow-sm">
          <div class="card-body">
            <div class="text-center my-4">
              <a (click)="bookApt()" class="btn btn-warning">Book Appointment</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100 shadow-sm">
          <div class="card-body">
            <div class="text-center my-4">
              <a (click)="allApts()" class="btn btn-warning">All Appointments</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100 shadow-sm">
          <div class="card-body">
            <div class="text-center my-4">
              <a class="btn btn-warning"
                >All <br />
                Patients</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<form action="javascript:" class="search-bar">
  <input type="search" name="search" pattern=".*\S.*" required />
  <button class="search-btn" type="submit">
    <span>Search</span>
  </button>
</form>

<h2 style="text-align: center;">All Patients</h2>
<div class="wrap">
  <div class="box">
    <div class="box-top">
      <div class="title-flex">
        <h3 class="box-title">Kelsie Meyer</h3>
        <p class="user-follow-info">9999999999</p>
      </div>
    </div>
    <div style="display: flex; justify-content: space-around">
      <a href="#" class="button">View Patient</a>

      <a href="#" class="button">Book Appointment</a>
    </div>
  </div>

  <div class="box">
    <div class="box-top">
      <div class="title-flex">
        <h3 class="box-title">Kelsie Meyer</h3>
        <p class="user-follow-info">9999999999</p>
      </div>
    </div>
    <div style="display: flex; justify-content: space-around">
      <a href="#" class="button">View Patient</a>

      <a href="#" class="button">Book Appointment</a>
    </div>
  </div>

  <div class="box">
    <div class="box-top">
      <div class="title-flex">
        <h3 class="box-title">Kelsie Meyer</h3>
        <p class="user-follow-info">9999999999</p>
      </div>
    </div>
    <div style="display: flex; justify-content: space-around">
      <a href="#" class="button">View Patient</a>

      <a href="#" class="button">Book Appointment</a>
    </div>
  </div>

  <div class="box">
    <div class="box-top">
      <div class="title-flex">
        <h3 class="box-title">Kelsie Meyer</h3>
        <p class="user-follow-info">9999999999</p>
      </div>
    </div>
    <div style="display: flex; justify-content: space-around">
      <a href="#" class="button">View Patient</a>

      <a href="#" class="button">Book Appointment</a>
    </div>
  </div>
</div>
