<div class="container">
  <div class="form-wrap">
    <form id="survey-form">
      <header class="header">
        <h1 id="title" class="text-center">Discharge Form</h1>
      </header>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label id="number-label" for="number">Indoor No.</label>
            <input
              type="number"
              name="indoor"
              id="number"
              class="form-control" 
              placeholder="Indoor No."
            />
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label id="number-label" for="number">OPD No.</label>
            <input
              type="number"
              name="opd"
              id="number"
              class="form-control"
              placeholder="OPD No."
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label id="name-label" for="name">Name</label>
            <input
              type="text"
              name="name"
              id="name"
              placeholder="Enter your name"
              class="form-control"
              required
            />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label id="number-label" for="number">Age</label>
            <input
              type="number"
              name="age"
              id="number"
              min="10"
              max="99"
              class="form-control"
              placeholder="Age"
            />
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label id="number-label" for="number">Weight</label>
            <input
              type="number"
              name="weight"
              id="number"
              class="form-control"
              placeholder="Weight"
            />
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label id="text" for="text">Sex</label>
            <input
              type="text"
              name="sex"
              id="text"
              min="10"
              max="99"
              class="form-control"
              placeholder="Sex"
            />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label id="address-label" for="address">Address</label>
            <input
              type="text"
              name="address"
              id="address"
              placeholder="Address"
              class="form-control"
              required
            />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label id="diagnosis-label" for="diagnosis">Diagnosis</label>
            <textarea
              type="text"
              name="diagnosis"
              id="diagnosis"
              placeholder="Diagnosis"
              class="form-control"
              required
            >
            </textarea>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label id="address-label" for="address">Address</label>
            <input
              type="text"
              name="address"
              id="address"
              placeholder="Address"
              class="form-control"
              required
            />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label id="admit-label" for="admit">Admitted On</label>
            <input
              type="text"
              name="admit"
              id="admit"
              placeholder="Admitted On"
              class="form-control"
              required
            />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label id="discharged-label" for="discharged">Discharged On</label>
            <input
              type="text"
              name="discharged"
              id="discharged"
              placeholder="Discharged On"
              class="form-control"
              required
            />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label id="conditon-label" for="conditon"
              >Condition on Discharge</label
            >
            <textarea
              type="text"
              name="condition"
              id="condition"
              placeholder="Condition"
              class="form-control"
              required
            >
            </textarea>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label>TREATED BY : </label>
            <textarea id="treat" class="form-control" name="treat"></textarea>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label>Complaint & Examination Finding : </label>
            <textarea
              id="complaint"
              class="form-control"
              name="complaint"
            ></textarea>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label>Investigation & Operative Notes :</label>
            <textarea id="invest" class="form-control" name="invest"></textarea>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label>Treatment Given :</label>
            <textarea id="treat" class="form-control" name="treat"></textarea>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label>Treatment Advised at Discharge :</label>
            <textarea id="advise" class="form-control" name="advise"></textarea>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label>Advise & Follow up:</label>
            <textarea id="follow" class="form-control" name="follow"></textarea>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <button type="submit" id="submit" class="btn btn-primary btn-block">
            Submit Discharge Form
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
