<h1  class="my-3">संमती पत्र</h1>

<div class="container mt-4">
 
  <form>
    <!-- First Section -->
    <div class="input-group mb-3">
      १) मी खाली सही करणार<input type="text" class="form-control">डॉ.<input type="text" class="form-control">
    
    </div>
    <div class="input-group mb-3">
      यांच्या सल्यानुसार दवाखाण्यामध्ये भरती होण्यास तयार आहे. मला बाळाच्या/पाल्याच्या/ नातेवाईकाच्या शारिरिक आजाराची<input type="text" class="form-control"><br>
      संबंधित डॉक्टरानी पूर्ण कल्पना दिली आहे. त्याआजारासाठी लागणाऱ्या  उपाचारसाठी योग्य ते सर्व उपाय करण्याची मी डॉक्टराना पूर्ण  परवानगी देत ​​आहे. व त्याबाबतीतील सर्व दुष्परिणामाची मला डॉक्टरानी पूर्ण कल्पना दिली आहे. त्यासोबत लागणाऱ्या खर्चाची मला कल्पना दिली आहे. व त्याबाबातीत माझी कोणतीही तक्रार चालणार नाही व सर्व बिल विनातक्रार भरण्यास तयार आहे. दवाखाण्याच्या नियमाबदल डॉक्टरानी पूर्ण कल्पना दिली आहे. उपचार चालु असताना निदानसाठी लागणाऱ्या  सर्व तपसण्या व चाचण्या मी करुन घेण्यास तयार आहे.
<br>गरज भासल्यास रुग्नाच्या  बाबतीत जरुरीप्रमाने अतिरिक्त विशेष तज्ञाचा सल्ला घेण्यास माझी/आमची समती  आहे. त्यासंबंधित खर्चाची जबाबदारी  माझ्यावर/आमच्यावर राहिल.
    </div><br><br>

    <div class="input-group mb-3">
      साक्षीदाराची सही
      <input type="text" class="form-control">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      रुग्णची/पालकाची सही किंवा डाव्या हाताचा निशाणी अंगठा
      <input type="text" class="form-control">
    </div><br><br>

    <div class="row">
      <div class="col-md-6">
        <label class="form-label">नाव व पत्ता:</label>
        <input type="text" class="form-control">
      </div>
      <div class="col-md-3">
        <label class="form-label">तारीख:</label>
        <input type="date" class="form-control">
      </div>
      <div class="col-md-3">
        <label class="form-label">वेळ:</label>
        <input type="time" class="form-control">
      </div>
    </div><br><br><br>
    <!-- First Section -->
    

    <!-- Second Section -->
    <div class="mb-3">
      २) रूग्णाची प्रकृती चिंताजनक असल्याची रूग्णाच्या संबंधित नातेवाईकांना वेळोवेळी कल्पना दिली आहे.त्यानुसार योग्य तो निर्णय घेउन मी त्याना औषध आणि उपचार करण्यास परवानगी दिली आहे.
    </div><br><br>

    <div class="input-group mb-3">
      साक्षीदाराची सही
      <input type="text" class="form-control">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      रुग्णची/पालकाची सही किंवा डाव्या हाताचा निशाणी अंगठा
      <input type="text" class="form-control">
    </div><br><br>

   

    <div class="row">
      <div class="col-md-6">
        <label class="form-label">नाव व पत्ता:</label>
        <input type="text" class="form-control">
      </div>
      <div class="col-md-3">
        <label class="form-label">तारीख:</label>
        <input type="date" class="form-control">
      </div>
      <div class="col-md-3">
        <label class="form-label">वेळ:</label>
        <input type="time" class="form-control">
      </div>
    </div><br><br><br>
<!-- Second Section -->


<!-- Third Section -->

<div class="input-group mb-3">
      3)मी खाली सही करणार<input type="text" class="form-control">
    </div><br>

<div class="input-group mb-3">
  वय वर्षे<input type="text" class="form-control">राहनार<input type="text" class="form-control">                                                                                                                                                                                            
  </div><br>

<div class="input-group mb-3">
  या लेखमधुन माझ्या<input type="text" class="form-control">(जो/जी अद्यान आहे/समती देण्याच्या परिस्थिती मध्ये नाही)
  </div><br>

<div class="input-group mb-3">
  ऑपरेशन<input type="text" class="form-control">                                                                                                                                                                   
  </div><br>

<div class="input-group mb-3">
  शस्त्रक्रिया/तपासणी करण्यास  डॉ.<input type="text" class="form-control">याना व त्यासाठी                                                                                                                                                                   
  </div><br>

<div class="input-group mb-3">
  आवश्यक ती भूल देनारे डॉ.<input type="text" class="form-control"> याना संपूर्णपणे परवानगी देत आहे.                                                                                                                                                                  
  </div><br>

<div class="input-group mb-3">
  शस्त्रक्रिया करतेवेळी जर माझे शरीर मधे एखाद्या अवयव गाठी अथवा दुषित भाग असल्यस (अवयव) 
  काढण्याची जरुरी भासल्यास वर निर्दर्षिलेले अवयव काढण्याची परवानगी मी  डॉक्टराना देत आहे. तसेच शस्त्रक्रिया
  करीत असताना डॉक्टराना/ डॉक्टराच्या सहकारी डॉक्टराना किंवा भूल देणाऱ्या डॉक्टराना वर निर्दर्षिलेले  ऑपरेशनशिवाय 
  अधिक काही शस्त्रक्रियाचीही जरुरी भासल्यास ती शस्त्रक्रिया करण्यास माझी संपूर्ण परवानगी आहे.                                                                                                                                                               
  </div><br>

<div class="input-group mb-3">
  वैद्यकीय ज्ञानाच्या अभिवृद्धीसाठी अशा  कारवाई या योजनेच्यावेळी घेतलेले फोटो प्रसिद्धी व वापरण्यास  मी परवानगी देत आहे.मी असे धरतो की  अशा  फोटोच्या वापरात ओळख दिली जाणार नाही.
<br>सदर आजराच्या उपाचारसाठी लागणारे रक्त रुग्णाने किवा त्याच्या संबधितानी स्वत:च्या जबाबदारीवर आणायचे आहेत.                                                                                                                                                            
  </div><br>

<div class="input-group mb-3">
  मला खालील गोष्टी डॉक्टरानी माझ्या भाषेत समजावून सांगितल्या आहेत  व त्या मला संपूर्णपणे समजले आहेत.<br><br>
  1.शास्त्रक्रियेची गरज व शास्त्रक्रियेचा प्रकार &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  2.ऑपरेशनमुळे होणारे फायदे तोटे<br><br>
  3.ऑपरेशनची पद्धत    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  4.ऑपरेशन नंतरचे संभाव्य धोका.  <br><br>  
  5.भुल देण्याचे धोके.  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  6.भूल देण्यमुळे होणारे संभाव्य धोके. <br><br>                                                                                                                                                                                                                                                                                                                                                                        
  7.रक्त भरणे<br><br>
  8.वैद्यकीय व्यवसायाशीसंबंधित माहिती पुरवणे हे जरुरीप्रमाणे वैद्यकीय नोदणीवरून रुग्णालयाच्या नियमाप्रमाणे आणि धोरणाप्रमाणे अनुसरून असेल.                                                                                                                                                  
  </div><br><br>

    <div class="input-group mb-3">
      साक्षीदाराची सही
      <input type="text" class="form-control">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      रुग्णची/पालकाची सही किंवा डाव्या हाताचा निशाणी अंगठा
      <input type="text" class="form-control">
    </div><br><br>
 <!-- Third Section -->

 <div class="signature-container">
  <canvas #canvas
          (mousedown)="startDrawing($event)"
          (mousemove)="draw($event)"
          (mouseup)="stopDrawing()"
          (mouseleave)="stopDrawing()"
          (touchstart)="startDrawing($event)"
          (touchmove)="draw($event)"
          (touchend)="stopDrawing()">
  </canvas>
  <button class="btn btn-info" style="color: white;" (click)="saveSignature()" >Save</button>
  <button class="btn btn-info" style="color: white;" (click)="clearCanvas()" >Clear</button>
  </div>
</form><br><br>
<button type="button" id="btn"class="btn btn-info" (click)="Submit()">Submit</button>

</div>




















